{{#partial "content"}}
    <div>
        <a style="background-color:saddlebrown;" id="button" href="/dept/new" class="btn btn-outline-secondary btn-lg" role="button">ADD DEPARTMENT</a><br><br><br>
    </div>
    {{#if departments}}
        <div id="all">
        {{#each departments }}
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ departmentname }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ description }} .</p>
                        <p class="card-text">Number of Employees: {{ numberofemployee}}</p>
                    </div>
                </div>
        {{/each}}
    {{else}}
            <h4>No Departments registered yet!</h4>
        </div>
    {{/if}}
{{/partial}}
<style>

</style>
{{> layout.hbs}}