{{#partial "content"}}
<h3>View created departments</h3>
    {{#if departments}}
        <div id="all">
        {{#each departments }}
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ departmentname }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ description }} .</p>
                        <p class="card-text">Number of Employees: {{ numberofemployee}}</p>
                    </div>
                </div>
        {{/each}}
    {{else}}
            <h4>No Departments registered yet!</h4>
        </div>

    {{/if}}
    <div>
        <a id="button" href="/dept/new" class="btn btn-success" role="button">Add department</a><br><br><br>
    </div>
{{/partial}}

{{> layout.hbs}}