{{#partial "content"}}
    <h3>Add Department!</h3>
    <form action="/dept/new" method="post">
        <div class="form-group">
            <label for="departmentname">Department name:</label><br>
            <input class="form-control" id="departmentname" name="departmentname" type="text"><br>
        </div>
        <div class="form-group">
            <label for="description"> Description:</label><br>
            <textarea class="form-control" id="description" name="description" type="text" rows="3"></textarea><br>
        </div>
        <div class="form-group">
            <label for="numberofemployee">Employee number:</label><br>
            <input class="form-control" id="numberofemployee" name="numberofemployee" type="number"><br>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-light">ADD</button>
        </div>
    </form>
{{/partial}}

{{> layout.hbs}}