{{#partial "content"}}
    <h3 style="color:white;">Department news!</h3>
    <form action="/deptNews/new" method="post" id="colors">
        <div class="form-group">
            <label style="color:white;" for="title">Post title:</label><br>
            <input class="form-control" id="title" name="title" type="text"><br>
        </div>
        <div class="form-group">
            <label style="color:white;" for="content">Post content:</label><br>
            <textarea class="form-control" id="content" name="content" rows="4" type="text"></textarea><br>
        </div>
        <div class="form-group">
            <label style="color:white;" for="departmentName">Department name:</label><br>
            <select class="form-control" name="departmentname">
                {{#each departments}}
                    <option>{{departmentname}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sucess">POST</button>
        </div>
    </form>
{{/partial}}
<style>
</style>
{{> layout.hbs}}