{{#partial "content"}}

    <div class="container">
        <div>
            {{#if user}}
                <h3 style="text-decoration:underline; text-align:center; margin-bottom:3%; color:white;"><strong>View all users</strong></h3>
                {{#each user }}
                    <div align="center" style="text-align:center;">
                    </div>
                        <div id="colors">
                            <p id="data"> Name:<strong>{{ name }} </strong></p>
                            <p id="data"> Position:{{ position }}</p>
                            <p id="data"> Deparment:{{ department }}</p>
                        </div>
                    </div>
                {{/each}}
            {{else}}
            <h4>No users registered yet!</h4>
            {{/if}}
        </div>
    </div>
    <div style="text-align:center;">
        <a id="button" href="/user/new" class="btn btn-light" role="button">Add user</a><br><br><br>
    </div>
{{/partial}}
</style>
{{> layout.hbs}}